[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]

ipython = "*"
matplotlib = "*"
jedi = "*"


[packages]

scikit-learn = "*"
imageio = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
defopt = "*"